* {
  margin: 0;
  padding: 0;
  /* max-width: 2000px; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.App {
  min-height: 100vh;
}

.App,
html,
body {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.App.light,
html.light,
body.light {
  background-color: #eff3f3;
  color: #0c1f22;
}

.App.dark,
html.dark,
body.dark {
  background-color: #17181d;
  color: #d4dcdd;
}

.home-banner {
  background-repeat: no-repeat;
  width: 100%;
  min-height: 330px;
  background-size: 100vw 330px;
  position: relative;
  top: 0;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.home-banner h1 {
  padding-top: 6rem;
  margin-left: 10rem;
  font-size: 3.8rem;
}

.home-banner .lower-banner {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.home-banner .home-link-list {
  margin-left: auto;
  margin-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  padding: 1.3rem;
  padding-bottom: 1.8rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2), 0px -5px 10px rgba(255, 255, 255, 0.15);
}

.home-banner .home-link-list a {
  color: #112225;
}

.home-banner .home-link-list button {
  padding: 0.4rem 0.4rem;
  font-weight: 600;
  font-size: medium;
  border-radius: 50px;
  border: none;
}

.home-banner .home-link-list button:hover {
  cursor: pointer;
}

.home-banner .banner-underline {
  height: 3px;
  width: 100vw;
  position: absolute;
  bottom: 1rem;
}

.home-banner.dark {
  background-image: url("./images/tokyo-glitch-2.png");
  background-position: left top;
}

.home-banner.dark .lower-banner {
  background-color: #17181db9;
}

.home-banner.dark .home-link-list a {
  color: #d4dcdd;
}

.home-banner.dark .home-link-list button {
  background-color: white;
}

.home-banner.dark .home-link-list button:hover {
  background-color: pink;
}

.home-banner.dark .banner-underline.dark {
  background-color: #17181d88;
}

.home-page.light {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eff3f3));
  background-image: linear-gradient(#f5f5f5, #eff3f3);
}

.home-banner.light {
  background-image: url("./images/white-wave-1.png");
  background-position: left bottom;
}

.home-banner.light .banner-underline.light {
  background-color: #f5f5f598;
}

.home-banner.light button {
  color: #eff3f3;
  background-color: #17181d;
}

.home-banner.light button:hover {
  color: lightseagreen;
}

.home-blog-section {
  padding: 1rem;
}
/*# sourceMappingURL=App.css.map */