* {
  margin: 0;
  padding: 0;
  /* max-width: 2000px; */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  min-height: 100vh;
}

.App,
html,
body {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

// Light
.App.light,
html.light,
body.light {
  //   background-color: #f6f8f8;
  //   background-color: #e5edee;
  background-color: #eff3f3;
  color: #0c1f22;
  color: #112225;

  a {
    color: #0c1f22;
  }
}

// Dark
.App.dark,
html.dark,
body.dark {
  background-color: #17181d;
  color: #d4dcdd;
  a {
    color: #d4dcdd;
  }
}

// --------------------------
// Home --------------------

.banner {
  background-repeat: no-repeat;
  width: 100%;
  min-height: 330px;
  background-size: 100vw 330px;
  position: relative;
  top: 0;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   align-items: center;

  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  h1 {
    padding-top: 6rem;
    // padding-bottom: 6rem;
    margin-left: 10rem;
    font-size: 3.8rem;
  }
  .lower-banner {
    width: 100%;
    // height: 10rem;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .home-link-list {
    margin-left: auto;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    padding: 1.3rem;
    padding-bottom: 1.8rem;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2),
      0px -5px 10px rgba(255, 255, 255, 0.15);
    a {
      color: #112225;
    }
    button {
      padding: 0.4rem 0.4rem;
      font-weight: 600;
      font-size: medium;
      border-radius: 50px;
      border: none;
      &:hover {
        cursor: pointer;
        // background-color: pink;
      }
    }
  }
  .banner-underline {
    height: 3px;
    width: 100vw;
    // margin-bottom: 2rem;
    position: absolute;
    bottom: 1rem;
  }
}

.banner.dark {
  background-image: url("./images/tokyo-glitch-2.png");
  background-position: left top;
  .lower-banner {
    background-color: #17181db9;
  }
  .home-link-list {
    a {
      color: #d4dcdd;
    }
    button {
      background-color: white;
      &:hover {
        background-color: #20b2aa;
        background-color: #209cb2;
      }
    }
  }
  .banner-underline.dark {
    background-color: #17181d88;
  }
}

// Home Light

.home-page.light {
  // background-color: #d4dcdd;
  // background-color: #ebecec;
  // background-image: linear-gradient(#f5f5f5, #e5edee);
  // background-image: linear-gradient(#f5f5f5, #e9f2f3);
  // background-image: linear-gradient(#f5f5f5, #e9ecec);
  background-image: linear-gradient(#f5f5f5, #eff3f3);
}
.banner.light {
  background-image: url("./images/white-wave-1.png");
  background-position: left bottom;
  .banner-underline.light {
    // background-color: #d4dcdd;
    background-color: #f5f5f598;
  }
  button {
    color: #eff3f3;
    background-color: #17181d;
    &:hover {
      color: lightseagreen;
    }
  }
}

// -------------------
.home-blog-section {
  padding: 1rem;
}
.row-one {
  display: flex;
  flex-direction: row;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  .first-row-image {
    width: 50%;
    img {
      width: 60%;
      // &:hover {
      //   border-bottom: solid lightseagreen 3px;
      //   border-right: solid lightseagreen 3px;
      // }
      // margin-left:
    }
  }

  .new-post-info {
    padding: 2rem;
    padding-top: 0;
  }
  &:hover {
    img {
      border-bottom: solid lightseagreen 3px;
      border-right: solid lightseagreen 3px;
    }
    h3 {
      color: lightseagreen;
    }
  }
}

// -------------------------------
// Blog Info Page

.blog-info-page {
  // background-color: #f6f8f8;
  padding-bottom: 4rem;
}

.blog-home-nav {
  padding: 1rem;
  a {
    // color: #06424b;
    font-weight: 700;
    font-size: 1.4rem;
  }
  border-bottom: solid 1px #99a9ac42;
}

.blog-section {
  text-align: center;
  padding-top: 2rem;
  a {
    // color: #23626b;
    font-weight: 400;
    font-size: 1rem;
    // text-align: center;
  }
  h1,
  h4 {
    text-align: center;
    margin-right: 3rem;
    margin-left: 3rem;
  }
  h4 {
    margin-bottom: 4rem;
  }
  img {
    width: 40%;
    // margin-bottom: 3rem;
  }
}
@media (max-width: 500px) {
  .blog-section {
    h1,
    h4 {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}

.blog-info-blog-body {
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 500px) {
  .blog-info-blog-body {
    width: 100%;
    padding: 2rem;
    padding-top: 1rem;
    text-align: justify;
  }
}

// Blog Cards
.blog-cards {
  // border: 2px black solid;
  display: grid;
  // justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 4rem;
}

.blog-card {
  max-width: 330px;
}

.row-two {
  padding-left: 5rem;
  padding-right: 5rem;

  .blog-card {
    // margin: 3rem;
    margin-top: 4rem;
    img {
      border-bottom: solid lightseagreen 4px;
      border-right: solid lightseagreen 4px;
    }
    // h3 {
    //   color: lightseagreen;
    // }
    &:hover {
      img {
        border-bottom: solid #fd6e64 4px;
        border-right: solid #fd6e64 4px;
      }
      h3 {
        color: #fd6e64;
      }
    }
  }
}
