* {
  margin: 0;
  padding: 0;
  /* max-width: 2000px; */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  min-height: 100vh;
}

.App,
html,
body {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

// Light
.App.light,
html.light,
body.light {
  //   background-color: #f6f8f8;
  //   background-color: #e5edee;
  background-color: #eff3f3;
  color: #0c1f22;
}

// Dark
.App.dark,
html.dark,
body.dark {
  background-color: #17181d;
  color: #d4dcdd;
}

// --------------------------
// Home --------------------

.home-banner {
  background-repeat: no-repeat;
  width: 100%;
  min-height: 330px;
  background-size: 100vw 330px;
  position: relative;
  top: 0;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   align-items: center;

  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  h1 {
    padding-top: 6rem;
    // padding-bottom: 6rem;
    margin-left: 10rem;
    font-size: 3.8rem;
  }
  .lower-banner {
    width: 100%;
    // height: 10rem;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .home-link-list {
    margin-left: auto;
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    padding: 1.3rem;
    padding-bottom: 1.8rem;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2),
      0px -5px 10px rgba(255, 255, 255, 0.15);
    a {
      color: #112225;
    }
    button {
      padding: 0.4rem 0.4rem;
      font-weight: 600;
      font-size: medium;
      border-radius: 50px;
      border: none;
      &:hover {
        cursor: pointer;
        // background-color: pink;
      }
    }
  }
  .banner-underline {
    height: 3px;
    width: 100vw;
    // margin-bottom: 2rem;
    position: absolute;
    bottom: 1rem;
  }
}

.home-banner.dark {
  background-image: url("./images/tokyo-glitch-2.png");
  background-position: left top;
  .lower-banner {
    background-color: #17181db9;
  }
  .home-link-list {
    a {
      color: #d4dcdd;
    }
    button {
      background-color: white;
      &:hover {
        background-color: pink;
      }
    }
  }
  .banner-underline.dark {
    background-color: #17181d88;
  }
}

// Home Light

.home-page.light {
  // background-color: #d4dcdd;
  // background-color: #ebecec;
  // background-image: linear-gradient(#f5f5f5, #e5edee);
  // background-image: linear-gradient(#f5f5f5, #e9f2f3);
  // background-image: linear-gradient(#f5f5f5, #e9ecec);
  background-image: linear-gradient(#f5f5f5, #eff3f3);
}
.home-banner.light {
  background-image: url("./images/white-wave-1.png");
  background-position: left bottom;
  .banner-underline.light {
    // background-color: #d4dcdd;
    background-color: #f5f5f598;
  }
  button {
    color: #eff3f3;
    background-color: #17181d;
    &:hover {
      color: lightseagreen;
    }
  }
}

// -------------------
.home-blog-section {
  padding: 1rem;
}
