* {
  margin: 0;
  padding: 0;
  /* max-width: 2000px; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.App {
  min-height: 100vh;
}

.App,
html,
body {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.App.light,
html.light,
body.light {
  background-color: #f9fbfb;
  color: #0c1f22;
  color: #112225;
}

.App.light a,
html.light a,
body.light a {
  color: #0c1f22;
}

.App.dark,
html.dark,
body.dark {
  background-color: #17181d;
  color: #d4dcdd;
}

.App.dark a,
html.dark a,
body.dark a {
  color: #d4dcdd;
}

.banner {
  background-repeat: no-repeat;
  width: 100%;
  min-height: 330px;
  background-size: 100vw 330px;
  position: relative;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.banner h1 {
  padding-top: 6rem;
  margin-left: 10rem;
  font-size: 3.8rem;
}

.banner .lower-banner {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.banner .visible-nav-bar {
  display: none;
}

.banner .home-link-list {
  margin-left: auto;
  margin-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  padding: 1.3rem;
  padding-bottom: 1.8rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2), 0px -5px 10px rgba(255, 255, 255, 0.15);
}

.banner .home-link-list a {
  color: #112225;
}

.banner button.theme-button {
  padding: 0.4rem 0.4rem;
  font-weight: 600;
  font-size: medium;
  border-radius: 50px;
  border: none;
}

.banner button.theme-button:hover {
  cursor: pointer;
}

.banner .banner-underline {
  height: 3px;
  width: 100vw;
  position: absolute;
  bottom: 1rem;
}

@media (max-width: 670px) {
  .banner h1 {
    margin-left: 0;
    text-align: center;
  }
  .banner .home-link-list {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (max-width: 470px) {
  .banner {
    min-height: 280px;
  }
  .banner h1 {
    font-size: 3rem;
    max-width: 98vw;
    padding: 1rem;
    padding-top: 3rem;
  }
  .banner .lower-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .visible-nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem;
    padding-bottom: 1.8rem;
    max-width: 98vw;
  }
  .banner .home-link-list {
    display: none;
  }
  .banner .small-home-link-list {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    border-top: #e0e0e0 solid 2px;
  }
  .banner .small-home-link-list a {
    background-color: whitesmoke;
    padding: 0.5rem;
    padding-left: 2rem;
    text-shadow: none;
    font-weight: 600;
    border-bottom: #e0e0e0 solid 2px;
  }
}

@media (max-width: 500px) {
  .banner.dark {
    background-image: url("./images/tokyo-glitch-2.png");
  }
}

@media (min-width: 500px) {
  .banner.dark {
    background-image: url("./images/tokyo-glitch-2.png");
  }
}

.banner.dark {
  background-position: left top;
}

.banner.dark .lower-banner {
  background-color: #17181db9;
}

.banner.dark .home-link-list a {
  color: #d4dcdd;
}

.banner.dark button.theme-button {
  background-color: white;
}

.banner.dark button.theme-button:hover {
  background-color: #20b2aa;
  background-color: #209cb2;
}

.banner.dark .banner-underline.dark {
  background-color: #17181d88;
}

.drop-down-button {
  background-color: #17181d00;
  border: none;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .banner.dark .drop-down-button {
    border: none;
    color: #d4dcdd;
  }
  .banner.dark .drop-down-button:hover {
    cursor: pointer;
  }
  .banner.dark button.theme-button {
    background-color: #d4dcdd;
  }
  .banner.dark .small-home-link-list {
    border: none;
  }
  .banner.dark .small-home-link-list a {
    background-color: #17181d;
    border: none;
  }
}

@media (max-width: 700px) {
  .banner.light .drop-down-button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #17181d;
  }
  .banner.light .drop-down-button:hover {
    cursor: pointer;
  }
}

.home-page.light {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eff3f3));
  background-image: linear-gradient(#f5f5f5, #eff3f3);
}

.banner.light {
  background-image: url("./images/white-wave-1.png");
  background-position: left bottom;
}

.banner.light .banner-underline.light {
  background-color: #f5f5f598;
}

.banner.light button {
  color: #eff3f3;
  background-color: #17181d;
}

.banner.light button:hover {
  color: lightseagreen;
}

.author-body {
  height: 200vh;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
}

.author-body .author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.author-body .author-container .image-container {
  width: 50%;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.author-body .author-container .image-container img {
  max-width: 500px;
  min-width: 300px;
  width: 100%;
}

.author-body .author-container .author-description {
  max-width: 85%;
  text-align: justify;
}

@media (max-width: 863px) {
  .author-body .author-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .author-body .author-container .image-container {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 100px;
  }
  .author-body .author-container .image-container img {
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    width: 400px;
    min-width: 300px;
    margin-bottom: 3rem;
  }
  .author-body .author-container .author-description {
    max-width: 85%;
    min-width: 300px;
  }
}

@media (max-width: 440px) {
  .author-body {
    padding: 3rem;
  }
  .author-body .author-container {
    width: 100%;
  }
  .author-body .author-container .image-container img {
    min-width: 275px;
  }
  .author-body .author-container .author-description {
    min-width: 275px;
    width: 275px;
  }
}

@media (max-width: 360px) {
  .author-body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .author-body .author-container .image-container {
    min-width: 150px;
  }
  .author-body .author-container .image-container img {
    max-width: 80vw;
    min-width: 150px;
  }
  .author-body .author-container .author-description {
    max-width: 80vw;
    min-width: 150px;
  }
}

.row-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
}

.row-one .first-row-image {
  width: 50%;
  margin-right: 3rem;
}

.row-one .first-row-image img {
  max-width: 500px;
  min-width: 300px;
  width: 100%;
}

.row-one .new-post-info {
  padding: 2rem;
  padding-top: 0;
}

.row-one:hover img {
  border-bottom: solid lightseagreen 3px;
  border-right: solid lightseagreen 3px;
}

.row-one:hover h3 {
  color: lightseagreen;
}

@media (max-width: 863px) {
  .row-one {
    display: block;
  }
  .row-one .first-row-image {
    width: 400px;
    max-width: 80%;
    margin-right: 2rem;
    min-width: 200px;
    margin-left: 2rem;
    padding-left: 0;
    margin-bottom: 1rem;
  }
  .row-one .first-row-image img {
    margin-left: 0;
    margin-right: auto;
    max-width: 95%;
    min-width: 200px;
  }
}

@media (max-width: 500px) {
  .row-one,
  .row-two {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.blog-info-page {
  padding-bottom: 4rem;
}

.App.light .blog-info-page {
  background-color: #eff3f3;
  color: #0c1f22;
  color: #112225;
}

.blog-home-nav {
  padding: 1rem;
  border-bottom: solid 1px #99a9ac42;
}

.blog-home-nav a {
  font-weight: 700;
  font-size: 1.4rem;
}

.blog-info-page .blog-section {
  text-align: center;
  padding-top: 2rem;
}

.blog-info-page .blog-section a {
  font-weight: 400;
  font-size: 1rem;
}

.blog-info-page .blog-section h1,
.blog-info-page .blog-section h4 {
  text-align: center;
  margin-right: 3rem;
  margin-left: 3rem;
}

.blog-info-page .blog-section h4 {
  margin-bottom: 4rem;
}

.blog-info-page .blog-section img {
  width: 40%;
  max-width: 400px;
}

@media (max-width: 500px) {
  .blog-info-page .blog-section h1,
  .blog-info-page .blog-section h4 {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .blog-info-page img {
    width: 70%;
  }
}

@media (max-width: 330px) {
  .blog-info-page .blog-section h1,
  .blog-info-page .blog-section h4 {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .blog-info-page img {
    width: 70%;
  }
}

.blog-info-blog-body {
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 500px) {
  .blog-info-blog-body {
    width: 100%;
    padding: 2rem;
    padding-top: 1rem;
    text-align: justify;
  }
}

@media (max-width: 330px) {
  p.blog-info-blog-body {
    max-width: 85%;
    width: 240px;
    padding: 1rem;
    margin: auto;
    text-align: justify;
  }
}

@media (max-width: 290px) {
  p.blog-info-blog-body {
    width: 180px;
  }
}

.blog-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 4rem;
}

@media (max-width: 863px) {
  .blog-cards {
    justify-items: center;
  }
}

@media (max-width: 500px) {
  .blog-cards {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
  }
}

.blog-card {
  max-width: 330px;
}

.row-two {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 4rem;
}

.row-two .blog-card {
  margin-top: 4rem;
}

.App.dark .row-two .blog-card img {
  border-bottom: solid lightseagreen 4px;
  border-right: solid lightseagreen 4px;
}

.App.dark .row-two .blog-card:hover img {
  border-bottom: solid #fd6e64 4px;
  border-right: solid #fd6e64 4px;
}

.App.dark .row-two .blog-card:hover h3 {
  color: #fd6e64;
}

.App.light .row-two {
  background-image: url("./images/06.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px #f6f8f8e7;
          box-shadow: inset 0 0 0 1000px #f6f8f8e7;
}

.App.light .row-two .blog-card:hover img {
  border-bottom: solid lightseagreen 4px;
  border-right: solid lightseagreen 4px;
}

.App.light .row-two .blog-card:hover h3 {
  color: lightseagreen;
}

@media (max-width: 500px) {
  .row-two {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.footer {
  height: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
}

.footer p {
  padding: 3rem;
}

.footer a {
  text-decoration: underline;
}

.archive-body {
  padding: 5rem;
}

.archive-body li {
  margin-left: 2rem;
}

.archive-body li a {
  text-decoration: underline;
}

@media (max-width: 486px) {
  .archive-body {
    padding: 2rem;
  }
  .archive-body li {
    margin-left: 2rem;
  }
}

.footer.light {
  color: #d4dcddd7;
  background-color: #17181d;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer.light a {
  color: lightseagreen;
}

.footer.dark {
  color: #d4dcddd7;
  background-image: url("./images/tokyo-glitch-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px #17181db9;
          box-shadow: inset 0 0 0 1000px #17181db9;
}

.footer.dark .footer-line {
  height: 3px;
  width: 100%;
  position: relative;
  top: 3rem;
  background-color: #17181db9;
}

.footer.dark a {
  color: lightseagreen;
}
/*# sourceMappingURL=App.css.map */